/anilist.js
/bot.js
/bot.py
/commands
/config.js
/de.js
/events
/free.py
/fun.py
/Game is game.js
/gaming.js
/leaderboard.json
/myenv
/package.json
/reverend-insanity-discord
/sleep.py
/stonks.py
/tracker.js
/weeeee.py